<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>GTI525LAB2</display-name>
<!--   <servlet> -->
<!--   	<servlet-name>presentations</servlet-name> -->
<!--   	<servlet-class>controleur.SpectaclesServlet</servlet-class> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--   	<servlet-name>presentations</servlet-name> -->
<!--   	<url-pattern>/spectacles.jsp</url-pattern> -->
<!--   </servlet-mapping> -->
  
<!--    <servlet> -->
<!--   		<servlet-name>representations</servlet-name> -->
<!--   		<servlet-class>controleur.RepresentationsServlet</servlet-class> -->
<!--   </servlet> -->
  
<!--   <servlet-mapping> -->
<!--   	<servlet-name>representations</servlet-name> -->
<!--   	<url-pattern>/representations</url-pattern> -->
<!--   </servlet-mapping> -->
  
  <servlet>
  		<servlet-name>frontControleurServlet</servlet-name>
  		<servlet-class>controleur.FrontControleurServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>frontControleurServlet</servlet-name>
  	<url-pattern>/redirect</url-pattern>
  </servlet-mapping>
  <listener><listener-class>controleur.ClientSessionListener</listener-class></listener>
 
  <welcome-file-list>
    <welcome-file>redirect</welcome-file>
  </welcome-file-list>
  	<error-page>
		<error-code>404</error-code>
		<location>/erreur.jsp</location>
	</error-page>
  
</web-app>